.slideShow {
    /* transition-duration: 500ms; */
    width: 100vw;
    transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
}

.slide {
    position: absolute;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
}